@font-face{font-family:reg; src:url('/aalto-reg.woff2');font-display: swap;}
@font-face{font-family:thin; src:url('/aalto-thin.woff2');font-display: swap;}
@font-face{font-family:marl; src:url('/marllgon.woff2');font-display: swap;}
@font-face{font-family:vibe; src:url('/vibe.ttf');font-display: swap;}
@font-face{font-family:zas; src:url('/Zasline.otf');font-display: swap;}
:root{--sage:119,133,106;--gray:97, 105, 93;--dark:56, 64, 48;--highlight:110, 138, 83;--tan:202,167,129;--darktan:158, 127, 93}
::selection{background: rgb(var(--dark));}::-moz-selection{background: rgb(var(--dark));}
html{background: #fff;height: 100vh;font-size: min(55px, 5.5vw);background: url("canvas.jpg") rgb(var(--sage));}
body{padding: 0;margin: 0;width: 100%;font-family: zas;}

header{background: #fff;text-align: center;font-family: vibe;box-shadow: #0007 0.2rem 0rem 1rem;}
header > a{color: rgb(var(--dark));padding: 0.1em 0.3em;display: inline-flex;align-items: center;width: fit-content;}
#name{font-size: 1.3rem;display: inline-block;line-height: 1.35;padding-top: 0.2em;}
#name span{display: block;font-size: 0.7em;color: rgb(var(--gray));line-height: 1;}
#logo{height: 3rem;width: 2.7rem;background: url("lady.webp") center;background-size: cover;display: inline-block;}

main{text-align: center;width: 100%;color: #fff;}
main::before{content: ' ';background: rgb(var(--sage));top: 0px; left: 0px; bottom:0; right:0;position: fixed;z-index: -1;mix-blend-mode: multiply;}
#florals{width: 100%;height: 100vh;position: absolute;z-index: -100;top: 0;background: url("floral1.jpg") center no-repeat;background-size: contain;mix-blend-mode: multiply;}
main > *{box-shadow: #0004 0.1rem 0.2rem .4rem;}

a{text-decoration: none;color: inherit;}
#pal{padding: 0rem;background: #fff9;width: fit-content;font-size: 0;display: inline-block;border-radius: 0.1rem;backdrop-filter: blur(0.2rem);}
#pal div{width: 100px; height: 100px;display: inline-block;margin: 0.3rem;border-radius: 0.1rem;transition: all 0.2s ease;}
#pal div:hover{transform: scale(1.2);}


#gmaps{width: 50%;height: 50vh;border: none;display: inline-block;border-radius: 0.1rem;transition: all 0.2s ease;background: #fff8;backdrop-filter: blur(0.5rem);}
#gmaps:hover{transform: scale(1.05);}
@media only screen and (max-width: 1200px){}
@media only print{}